
# Framework principal
streamlit

# Visualisations interactives
plotly
matplotlib
wordcloud

# Manipulation des données
pandas
numpy

# Machine Learning (pour les traitements)
scikit-learn

# Animations Lottie pour Streamlit
streamlit-lottie

# Divers (utile pour éviter des warnings)
requests

